        /* It's a CSS page! External sheets for weeks! */

/*================== USED FOR UNIVERSAL LINKS ==================*/

a:link 
    {
        color: #58e000;
        text-decoration:none;
    } 

a:visited 
    {
        color: #00ab6f;
        text-decoration:none;
    }

a:hover 
    {
        color: #ff5300;
        text-decoration:underline;
    }

a:active 
    {
        color: #e9003a;
        text-decoration:underline;
    }

/*================== USED FOR UNIVERSAL NAV BAR ==================*/

#nav
    {
        width: 100%;
        padding: 8px 8px;
        border: 1px solid #00ff00;
        background-color: #151515;
        color: #fff;
        list-style: none;
        border-radius: 5px;
    }

#nav li
    {
        display: inline;
        font-size: 15px;
        list-style: none;
        padding-left: 0;
    }

#nav li a
    {
        text-decoration: none;
        font-weight: bold;
        color: #58e000;
        display: inline;
        padding: 8px 15px;
        list-style: none;
    }

#nav li a:hover 
    {
        color: #e9003a;
        background-color: #424242; 
    }

#wrap 
    {
        width: 1000px;
        margin: 0 auto;
    }

h1.nav
    {
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        color: #00FF00;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
    }

#h-img
    {
        height: 100px;
        width: 100px;
        float: left;
        padding-top: 10px;
    }

/*================== USED FOR UNIVERSAL FORMATTING ==================*/

#aboutbox
    {
        width: 300px;
        height: 150px;
        padding: 5px;        
        line-height: 150px;
        background-image: url('img/aboutbgtrans.png');
        border-radius: 5px;
        color: #6FA600;
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    }

#aboutbox:hover
    {
        background-image: url('img/aboutbg.png');
        color: #00FF00;
    }

#codebox
    {
        width: 300px;
        height: 150px;
        margin-top: 10px;
        padding: 5px;
        line-height: 150px;
        background-image: url('img/codebgtrans.png');
        border-radius: 5px;
        color: #6FA600;
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    }

#codebox:hover
    {
        background-image: url('img/codebg.png');
        color: #a6e22e;
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    }

#facebox
    {
        width: 300px;
        height: 150px;
        margin-top: 10px;
        padding: 5px;
        line-height: 150px;
        background-image: url('img/fbbgtrans.png');
        border-radius: 5px;
        color: #f2f2f2;
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);        
    }

#facebox:hover
    {
        background-image: url('img/fbbg.png')
    }

#twitbox
    {  
        width: 300px;
        height: 250px;
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
    }

#maindiv
    {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }

.bottom
    {
        font-size: 10px;
        text-align: center;
        color: #04B404;
    }

/*================== USED FOR UNIVERSAL(?) SIDEBAR ==================*/

h1.sidebar 
    {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 45px;
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    }

/*================== USED FOR MAIN PAGE ==================*/

body
    {    
        /* The following is CSS3. */
        background: 
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
            background-color: #151515;
            background-size: 20px 20px;
        /* This style was taken from http://lea.verou.me/css3patterns/#carbon and edited a little for coloring purposes. Please go there and show them love. :3 */
        font-family: Verdana;
        color: white;
        text-align: center;
    }

ul.main
    {
        list-style-type: square;
        /* This applies a circle bullet to the unordered list. */
        font-family: 'Open Sans', sans-serif;
        /* This applies a font that was defined in the <link>. */
        text-align: left;
    }

p.main
    {
        text-align: left;
        /* This aligns the text to the left. */
        font-family: 'Open Sans', sans-serif;
        /* This applies a font that was defined in the <link>. */
    }

p.main
    {
        text-align: center;
        /* This aligns the text to the left. */
        font-family: 'Open Sans', sans-serif;
        /* This applies a font that was defined in the <link>. */
    }

h1.main
    {
        font-family: 'Raleway', sans-serif;
        /* This applies a font that was defined in the <link>. */
        text-align: center;
        /* This aligns the text to the center. */
        font-size: 45px;
        /* This defines the font size. */
        color: #00FF00;
    }

h1.main2
    {
        font-family: 'Raleway', sans-serif;
        /* This applies a font that was defined in the <link>. */
        text-align: center;
        /* This aligns the text to the center. */
        font-size: 25px;
        /* This defines the font size. */
    }

.mainhide
    {
        color: #151515;
        font-size: 10px;
    }

.mainsub
    {
        color: gray;
        font-size: 15px;
    }

/*================== USED FOR TUMBLR EMBEDDING ==================*/

#tumblrbox
    {
        width: 650px;
        height: 750px;
        margin-left: 5px;
        margin-right: 0px;
        float: right;
        border: 1px solid #00ff00;
        border-radius: 5px;
        overflow: auto;
        background-color: #32506d;
    }

#tmbimg
    {
        padding-top: 10px;
        padding-bottom: 0;
        height: 100px;
        margin-left: auto;
        margin-right: auto;        
    }

.tumblr_posts
    {
        font-family: 'Verdana', sans-serif;
        text-align: left;
    }

.tumblr_post
    {
        background: #151515;
        width: 500px;
        border-radius: 5px;
    }

.tumblr_title
    {
        font-family: 'Verdana', sans-serif;
    }

.tumblr_body img
    {
        width: 200px;
        height: auto;
        text-align: center;
    }
.read_more_container
    {

    }

.read_more_container a
    {

    }

.tumblr_caption
    {
        font-family: Arial, SimHei;
    }

.tumblr_video
    {

    }

/*================== USED FOR RESUME PAGE ==================*/

img.r1
    {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

.resume
    {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

#leftresume 
    { 
        width: 300px; 
        float: left;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-radius: 5px;
        box-shadow: inset 0 2px 3px rgba(0,0,0,.09);
    }

#rightresume 
    { 
        width: 600px; 
        height: 200px;
        float: right;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        overflow: auto;
        border: solid 1px #00ff00; 
        border-radius: 5px;
    }

#rightp 
    { 
        width: 600px; 
        float: right;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

ul.r1
    {
        list-style-type: square;
        /* This applies a circle bullet to the unordered list. */
        font-family: 'Open Sans', sans-serif;
        /* This applies a font that was defined in the above <link>. */
        text-align: left;
    }

p.r
    {
        text-align: left;
        /* This aligns the text to the left. */
        font-family: 'Open Sans', sans-serif;
        /* This applies a font that was defined in the above <link>. */
    }

p.r1
    {
        text-align: center;
        /* This aligns the text to the left. */
        font-family: 'Open Sans', sans-serif;
        /* This applies a font that was defined in the above <link>. */
    }

h1.r1
    {
        font-family: 'Raleway', sans-serif;
        /* This applies a font that was defined in the above <link>. */
        text-align: center;
        /* This aligns the text to the center. */
        font-size: 45px;
        /* This defines the font size. *
    }

h1.r2
    {
        font-family: 'Raleway', sans-serif;
        /* This applies a font that was defined in the above <link>. */
        text-align: center;
        /* This aligns the text to the center. */
        font-size: 25px;
        /* This defines the font size. */
    }

#r1hide
    {
        color: #151515;
        font-size: 10px;
    }

#r1shade
    {
        color: gray;
        font-size: 15px;
    }

/*================== USED FOR ERROR PAGE ==================*/

#errorleft
    { 
        width: 300px; 
        height: 200px;
        margin-left: 30px;
        float: left;
        padding: 10px;
    }

#errorright
    { 
        width: 600px; 
        height: 200px;
        float: right;
        padding: 10px;
    }

h1.error
    {
        text-align: center;
        font-size: 100px;
        vertical-align: middle;
    }

h1.err
    {
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-size: 60px;
        color: #00FF00;
    }

/*================== USED FOR SHORTENER  ==================*/

/* It's over! :D */