<link rel="apple-touch-icon" sizes="180x180" href="{{'/apple-touch-icon.png?v=8j8lvnqnae' | absolute_url}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{'/favicon-32x32.png?v=8j8lvnqnae' | absolute_url}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{'/favicon-16x16.png?v=8j8lvnqnae' | absolute_url}}">
<link rel="manifest" href="{{'/site.webmanifest?v=8j8lvnqnae' | absolute_url}}">
<link rel="mask-icon" href="{{'/safari-pinned-tab.svg?v=8j8lvnqnae' | absolute_url}}" color="#33cc33">
<link rel="shortcut icon" href="{{'/favicon.ico?v=8j8lvnqnae' | absolute_url}}">
<meta name="apple-mobile-web-app-title" content="daniel.ga/llegos">
<meta name="application-name" content="daniel.ga/llegos">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="theme-color" content="#ffffff">
