<footer class="section">
  <div class="footer__top">content © 2020  daniel a. gallegos ● <a href="http://gitlab.com/takouhai/takouhai.gitlab.io" target="_blank" rel="noreferrer">source</a> ● <a href="https://daniel.ga/llegos" target="_blank" rel="noreferrer">made by taco 🌮</a></div>
  <div class="footer__bottom"><a href="https://twitter.com/takouhai" target="_blank" rel="noreferrer"><ion-icon name="logo-twitter"></ion-icon></a> <a href="https://github.com/takouhai" target="_blank" rel="noreferrer"><ion-icon name="logo-github"></ion-icon></a> <a href="https://gitlab.com/takouhai" target="_blank" rel="noreferrer"><ion-icon name="logo-gitlab"></ion-icon></a> <a href="https://www.reddit.com/user/takouhai" target="_blank" rel="noreferrer"><ion-icon name="logo-reddit"></ion-icon></a> <a href="https://www.linkedin.com/in/daniel-gallegos/" target="_blank" rel="noreferrer"><ion-icon name="logo-linkedin"></ion-icon></a>
  <div class="footer__star">
    <a href="#">⛤</a>  
  </div>
</footer>