@import url("https://fonts.googleapis.com/css?family=Montserrat")
@import url("https://fonts.googleapis.com/css?family=Inconsolata")

body, h1, h2, h3, h4, h5, h6, p
  font-family: "Montserrat", sans-serif
  background: #151515

code
  background: #363636
  border-radius: 0.25em
  padding: 0.3em
  font-family: "Inconsolata", monospace

body
  margin: 40px auto
  max-width: 750px
  line-height: 1.6
  font-size: 18px
  color: #eeeeee
  padding: 0 10px

h1, h2, h3
  line-height: 1.2
  color: #fff

a
  color: #87D65E
  transition: all .2s ease-in-out
  &:visited
    color: #E3AD5D
  &:hover
    color: #DFFF9B
    transform: scale(1.1)

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #87D65E
  margin: 1em 0
  padding: 0
  border-radius: 1em
