body
  display: grid
  min-height: 70vh
  grid-template-rows: auto 1fr auto
  max-width: 666px
  padding: 42px
  @media (min-width: 900px)
    margin: auto
  @media (max-width: 400px)
    margin: auto

td
  padding: 0.5em
  ion-icon
    text-align: center
  &:nth-child(1)
    text-align: right

footer
  text-align: center