.subtitle
  color: #AEAEAE

.image
  &--header
    max-width: 300px
    display: block
    margin: auto
    border-radius: 50%

.small
  font-size: 10px

.footer
  text-align: center
  &--social
    i
      margin-left: 0.25em
      margin-right: 0.25em
  &--attribution
    color: #828282
