.subtitle
  color: #AEAEAE

.image
  &--header
    max-width: 300px
    display: block
    margin: auto
    border-radius: 50%

.small
  font-size: 10px

.footer
  text-align: center
  &--social
  &--attribution
