body {
    height: 100%
}

.main-body {
    margin-top: 2em;
}

.title {
    padding-top: 5em;
    padding-left: 2em;
}

.headbg {
    background: #8e44ad;
    color: #fff;
}

.padded-txt {
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 1.500em;
    text-align: left;
}
